<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GoFxServMailerSoap">
          <security mode="Transport" />
        </binding>
        <binding name="GoFxServMailerSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="GoFxServMailerSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="CustomBinding_IReleaseData" maxBufferPoolSize="52428800" maxReceivedMessageSize="52428800">
          <security mode="Transport">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
        <binding name="CustomBinding_IConfiguration">
          <security mode="Transport">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
        <binding name="CustomBinding_IReleaseManTask">
          <security mode="Transport">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ddse.redmond.corp.microsoft.com/ReleaseManService/ReleaseManService.svc" binding="wsHttpBinding" bindingConfiguration="CustomBinding_IReleaseData" contract="RMService.IReleaseData" name="CustomBinding_IReleaseData">
        <identity>
          <userPrincipalName value="vsulab@redmond.corp.microsoft.com" />
        </identity>
      </endpoint>
      <endpoint address="https://ddse.redmond.corp.microsoft.com/ReleaseManService/ReleaseManService.svc" binding="wsHttpBinding" bindingConfiguration="CustomBinding_IConfiguration" contract="RMService.IConfiguration" name="CustomBinding_IConfiguration">
        <identity>
          <userPrincipalName value="vsulab@redmond.corp.microsoft.com" />
        </identity>
      </endpoint>
      <endpoint address="https://ddse.redmond.corp.microsoft.com/ReleaseManService/ReleaseManService.svc" binding="wsHttpBinding" bindingConfiguration="CustomBinding_IReleaseManTask" contract="RMService.IReleaseManTask" name="CustomBinding_IReleaseManTask">
        <identity>
          <userPrincipalName value="vsulab@redmond.corp.microsoft.com" />
        </identity>
      </endpoint>
      <endpoint address="https://ddse.redmond.corp.microsoft.com/GoFxServMailer/service.asmx" binding="basicHttpBinding" bindingConfiguration="GoFxServMailerSoap" contract="MailService.GoFxServMailerSoap" name="GoFxServMailerSoap" />
      <endpoint address="https://ddse.redmond.corp.microsoft.com/GoFxServMailer/service.asmx" binding="customBinding" bindingConfiguration="GoFxServMailerSoap12" contract="MailService.GoFxServMailerSoap" name="GoFxServMailerSoap12" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="DownloadPath" value="F:\Packages" />
    <add key="SetEnvironmentVariable" value="\\clrdrop\ddrelqa\v-wxiaox\SetEnvironmentVariable.bat" />
    <add key="DevDivServicingKeyVaultUri" value="https://dotnetservicingkeyvault.vault.azure.net/" />
    <add key="ManagedIdentityClientId" value="36c8876a-1b0f-410c-bea9-1f5a2950d7cc" />
    <add key="BVTExpandPath" value="BVTExpand\BvtExpand.exe" />
    <add key="statusInterval" value="3600000" />
    <add key="MailTo" value="v-wxiaox" />
    <add key="ExceptionMailTo" value="v-wxiaox" />
    <add key="BaseLogPath" value="d:\thtest\Log" />
    <add key="Verify86PayloadSameAs64_ExceptionFilesLocation" value="\\vsufile\workspace\Current\SetupTest\Tools\SAFX\Verify86PayloadSameAs64_ExceptionFiles.txt" />
    <add key="MonitorInterval" value="300000" />
    <add key="MSILDestinationExceptions" value="\\vsufile\Workspace\Current\SetupTest\Tools\SAFX\MSIL_Destination_Exceptions.txt" />
    <add key="MailCSS" value="\\vsufile\workspace\Current\SetupTest\Tools\SAFX\MailCSS.txt" />
    <add key="HighLevelSKU_Name" value="4.6" />
    <add key="HighLevelSKU_ID" value="32" />
    <!--<add key="LogStorePath" value="\\clrdrop\ddrelqa\NetFXServicing\Windows10Servicing\Logs" />-->
    <add key="LogStorePath" value="F:\Log" />
    <add key="SpecifiedWIFile" value="C:\SAFX\WI2Test.txt" />
    <add key="PackagePath" value="F:\Packages" />
    <add key="DownloadPath" value="D:\Packages" />
    <add key="Upgrade2Win1022H2" value="\\dotnetpatchtest\F\EKB\Upgrade2Win1022H2.bat" />
    <!--<add key="SpecifiedWIFile" value="\\vsufile\workspace\Current\SetupTest\Tools\SAFX\WI2Test.txt"/>-->
    <!--<add key="SharedPath" value="\\clrdrop\ddrelqa\NetFXServicing\Windows10Servicing\RunParameters" />-->
    <add key="SharedPath" value="D:\School\SetupFiles" />
    <add key="AutoLogonCorbvt" value="\\clrdrop\ddrelqa\v-zhehu\Scripts\AutoLogonCorbvt.bat" />
    <add key="RuntimeMaxElapsedTime" value="24" />
    <add key="OSFilters" value="Windows 10;Windows Server 2015;Windows Server 2016" />

    <add key="DropPath_20" value="\\cpvsbuild\drops\whidbey\qfe\raw\[BuildNumber]\[Arch]ret\binaries" />
    <add key="DropPath_30" value="\\cpvsbuild\drops\orcas\QFE\raw\[BuildNumber]\binaries.[Arch]ret" />
    <add key="DropPath_35" value="\\cpvsbuild\drops\orcas\QFE\raw\[BuildNumber]\binaries.[Arch]ret" />

    <add key="ArchIndependentFiles" value="\\vsufile\Workspace\Current\SetupTest\Tools\SAFX\ArchIndependentFiles.txt" />
    <add key="InstallD3DCompiler" value="\\clrdrop\ddrelqa\v-zhehu\InstallRS1Dependency.bat" />

    <add key="SN_Tool_Path" value="\\cpvsbuild\drops\dev14\NetFxRel1Last\raw\02012.00\sources\tools\x86\managed\v2.0\sn.exe" />
    <add key="SigningVerificationToolLocation" value="\\vsufile\workspace\Current\SetupTest\Tools\SigningVerification_PatchServicing" />
    <add key="ExtractLocation" value="d:\SAFXExtracted" />
    <add key="PatchFamilyToolLocation" value="\\vsufile\workspace\Current\SetupTest\Tools\PatchFamilyVerification\PatchFamilyVerification.exe" />
    <add key="SubmitPackageToolPath" value="\\vsufile\workspace\netfxservicing\tools\submitpackagerequest\submitpackagerequest.exe" />
    <add key="SubmitPackageToolArg" value="/wi:{0} /no /nr /na /nb" />
    <add key="NDP30FileBuilds" value="\\vsufile\Workspace\Current\SetupTest\Tools\SAFX\NDP30FileBuildNumbers.txt" />
    <add key="UseRemoteExtractLocation" value="true"></add>
    <add key="OSInfoConfigs" value="\\vsufile\workspace\Current\SetupTest\Tools\SAFX\OSInfo.txt"></add>

    <!-- Config for NetFxSetup in scorpion, do not change-->
    <add key="TestSourcesLocation" value="\\vsufile\Workspace\Current\SetupTest\ClickOnce_Enlistment\src" />
    <add key="TestSourcesLocation_ARM" value="\\vsufile\Workspace\Current\SetupTest\NetFxSetup_ARM_Enlist\src" />
    <add key="RequiredBinariesLocation_ARM" value="\\vsufile\Workspace\Current\SetupTest\NetFxSetup_ARM_Enlist\src" />
    <add key="OnlyUseLatestCLR" value="\\vsufile\Workspace\Current\SetupTest\NetfxSetup\1_OnlyUseLatestCLR.reg" />
    <add key="Preinstall" value="\\clrdrop\ddrelqa\preinstall\Preinstall.cmd" />
    <add key="CopyFiles" value="\\vsufile\Workspace\Current\SetupTest\NetfxSetup\CopyFiles.bat" />
    <add key="CopyFiles_ARM" value="\\vsufile\Workspace\Current\SetupTest\NetFxSetup_ARM_Enlist\src\ARMret\TestBin\netfxsetuparm\CopyFilesForARM.bat" />
    <add key="CopyFilesSuccessfulExitCodes" value="0" />
    <add key="DisableWarning" value="\\vsufile\Workspace\Current\SetupTest\NetfxSetup\DisableWarning.bat" />
    <add key="InstallNDP40ForIA64" value="\\vsufile\Workspace\Current\SetupTest\NetfxSetup\InstallNDP40ForIA64.bat" />
    <add key="EnableNDP35OnServerCore" value="%Windir%\SysNative\cmd.exe /c \\vsufile\Workspace\Current\SetupTest\NetfxSetup\EnableNDP35ServerCore.bat" />
    <add key="EnableNetFx3Win8" value="\\vsufile\Workspace\Current\SetupTest\NetfxSetup\EnableNetFx3Win8.bat" />
    <add key="EnableWUService" value="\\vsufile\Workspace\Current\SetupTest\NetfxSetup\EnableWUService.bat" />
    <add key="BluePreReq" value="\\vsufile\Workspace\Current\SetupTest\NetfxSetup\BluePreReq.bat" />
    <add key="ARMMachineSetup1" value="\\bvtsrv2\team\v-chunww\ARMAutomation\ARMMachineSetup1.bat" />
    <add key="ARMMachineSetup2" value="\\bvtsrv2\team\v-chunww\ARMAutomation\ARMMachineSetup2.bat" />
    <add key="InstallProductForCBSTest" value="\\vsufile\Workspace\Current\SetupTest\NetfxSetup\InstallCBSProd.bat" />
    <add key="DisableWastonLog" value="\\vsufile\workspace\Current\SetupTest\NetfxSetup\TurnOffWatson.bat" />

    <!-- Config for HotfixLibrary, do not change-->
    <add key="HOTIRON_EXE" value="HotFixInstaller.exe" />
    <add key="IRONSPIGOT_EXE" value="Spinstaller.exe" />
    <add key="IRONMAN_EXE" value="Setup.exe" />
    <add key="HOTIRON_PATCH_TYPE" value="Decatur" />
    <add key="IRONSPIGOT_PATCH_TYPE" value="Decatur2" />
    <add key="IRONMAN_PATCH_TYPE" value="Decatur2" />
    <add key="NDP_X86_CONTEXT_LIMIT" value="8" />
    <add key="NDP_AMD64_CONTEXT_LIMIT" value="8" />
    <add key="NDP_IA64_CONTEXT_LIMIT" value="2" />
    <add key="VS_X86_CONTEXT_LIMIT" value="11" />
    <add key="VS_AMD64_CONTEXT_LIMIT" value="11" />
    <add key="VS_IA64_CONTEXT_LIMIT" value="4" />
    <add key="MADDOG_FLAG_BEACONF_NoReImage" value="931" />
    <add key="MADDOG_FLAG_BEACONF_PauseOnFaiure" value="919" />
    <add key="HotfixWorkDirectory" value="\\vsufile\workspace\Current\HOTFIX_FIXED\" />
    <add key="Dev10ServicingWorkDirectory" value="\\vsufile\Workspace\Current\Dev10Servicing\" />
    <add key="SetupTestWorkDirectory" value="\\vsufile\Workspace\Current\SetupTest\" />
    <add key="DeploymentTestWorkDirectory" value="\\vsufile\Workspace\Current\DeploymentTest\" />
    <add key="ProductSetupTestWorkDirectory" value="\\vsufile\Workspace\Current\DeploymentTest\Test1\" />
    <add key="MaddogImageFile" value="\\vsufile\workspace\Current\HOTFIX_FIXED\images.ini" />
    <add key="ExclusionFilePath" value="\\vsufile\workspace\Current\SetupTest\NetfxSetup\FileExclusion.txt" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.WorkItemTracking.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.72.1.0" newVersion="4.72.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Services.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Services.WebApi" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Security.KeyVault.Secrets" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Identity" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.3.0" newVersion="1.11.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Storage.File" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.2.2.0" newVersion="11.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Storage.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.2.2.0" newVersion="11.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client.Extensions.Msal" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.61.3.0" newVersion="4.61.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.2.0" newVersion="7.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Storage.Blobs" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.17.0.0" newVersion="12.17.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.997" newVersion="2.22.0.997" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
