<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="WUSAFXDbContext" connectionString="Data Source=dotnetpatchtest;Initial Catalog=WUSAFX;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="DtgpatchtestContext" connectionString="Data Source=dotnetpatchtest;Initial Catalog=PatchTestDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="ReleaseTicketManagementEntities" connectionString="metadata=res://*/ReleaseTicketModel.csdl|res://*/ReleaseTicketModel.ssdl|res://*/ReleaseTicketModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ddsedb\ddsesqlserver;initial catalog=ReleaseTicketManagement;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="NugetPackagePath" value="\\dotnetpatchtest\F\TestScripts\InstallNugetPackage.bat" />
		<add key="NugetConfigPath" value="\\dotnetpatchtest\F\TestScripts\copyNugetConfigFile.bat" />
		<add key="OnlyUseLatestCLR" value="%systemdrive%\NugetPackage\TestScripts\contentFiles\WUTestScripts\PreinstallScripts\1_OnlyUseLatestCLR.reg" />
		<!--<add key="RequiredBinariesLocation_WUAutomation" value="\\clrdrop\ddrelqa\WU_Enlist\src" />-->
		<add key="RequiredBinariesLocation_WUAutomation" value="\\dotnetpatchtest\F" />
		<!--<add key="TestSourcesLocation_WUAutomation" value="\\clrdrop\ddrelqa\WU_Enlist\src" />-->
		<add key="TestSourcesLocation_WUAutomation" value="\\dotnetpatchtest\F" />
		<add key="CopyFiles_WU" value="%systemdrive%\NugetPackage\TestScripts\contentFiles\WUTestScripts\PreinstallScripts\CopyFiles.bat" />
		<add key="DisablePerSessionTempDir" value="%systemdrive%\NugetPackage\TestScripts\contentFiles\WUTestScripts\PreinstallScripts\DisablePerSessionTempDir.reg" />
		<add key="DisableWarning" value="%systemdrive%\NugetPackage\TestScripts\contentFiles\WUTestScripts\PreinstallScripts\DisableWarning.bat" />
		<add key="EnableWUService" value="%systemdrive%\NugetPackage\TestScripts\contentFiles\WUTestScripts\PreinstallScripts\EnableWUService.bat" />
		<add key="WUParameterFileRootPath" value="\\DotNetPatchTest\F\WUTestFiles" />
		<add key="EnableNetFx3Win8" value="\\setuppatchtest\F\enable35\Enable_35.bat" />
		<add key="LegacyServicingOS" value="Win7 SP1;Win2K8 R2 SP1;Win8 RTM;WinRT RTM;Win2K12 RTM;Win8.1 RTM;Win2K12 R2 RTM;WinRT 8.1 RTM;Win2K8 SP2" />
		
		<add key="ManagedIdentityClientId" value="36c8876a-1b0f-410c-bea9-1f5a2950d7cc" />
		<add key="TenantId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
		<add key="DotNetServicingClientCert" value="netfxservicing-onecert" />
		<add key="VVPATH" value="%systemdrive%\bvt\VersionVerification.exe" />
		<add key="7ZipLocation" value="C:\Projects\tools\StaticAnalysis\External\7z1507-extra\7za.exe" />
		<!--<add key="MUACToolPath" value="D:\Tools\PubUtil\PubUtil.exe" />-->
		<add key="MUACToolPath" value="D:\Projects\tools\Websites\ScorpionLibrary\PubsuiteStaticTestConsole\bin\Debug\GetPublishingXml\GetPublishingXml.exe" />
		<add key="MUACToolOutputPath" value="D:\Tools\WUTestInput\TestOutput" />
		<add key="PubsuiteName" value="wsd2prod" />
		<!--<add key="ServiceAccountName" value="vsulab@redmond.corp.microsoft.com" />-->
    <add key="ServiceAccountName2" value="vsulab@microsoft.com" />
		<add key="ExpectUtcReleaseHour" value="18" />
		<add key="PackagePath" value="F:\Packages" />
		<add key="ExtractLocation" value="d:\SAFXExtracted" />
		<add key="UseRemoteExtractLocation" value="true"></add>
		<add key="caiendpoint" value="https://wsd-awe.azure-api.net" />
		<add key="DotNetServicingClientID" value="d629fb3e-0707-4221-aab4-e6beb367e9b6" />
		<add key="authorityuri" value="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47" />
		<add key="apiresourcetest" value="https://microsoft.onmicrosoft.com/release-automation-api-test" />
		<add key="apiresource" value="https://microsoft.onmicrosoft.com/release-automation-api" />
		<add key="getreleaseticket" value="/api/v1/releasetickets/{0}" />
		<add key="DevDivServicingURI" value="https://vstfdevdiv.corp.microsoft.com/DevDiv" />
		<add key="DownloadPath" value="D:\Packages" />
		<!--<add key="PatchLocationHotfix" value="\\vsufile\patches\sign" />-->
		<add key="PatchLocationHotfix" value="\\setuppatchtest\F\Packages" />
		<!-- signoffaudittool  -->
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
		<add key="keyvaulturl" value="https://vsulab.vault.azure.net/secrets/REDMOND-VSULAB/f21d04e931404e8786ce18da77b272aa" />
		<add key="WindowsLabBuilt" value="Win7 SP1;Win2K8 R2 SP1;Win8 RTM;WinRT RTM;Win2K12 RTM;Win2K8 SP2" />
		<add key="OutputDirectory" value="ResultsSpreadsheets" />
		<add key="ISVandWebPTGs" value="267;268;325;326" />
		<add key="TrackitApiHelperSettingsFile" value="TrackitApiHelperSettings.json" />
		<add key="WsdApiHelperSettingsFile" value="WsdApiSettings.json" />
		<add key="OutputXml" value="\\DotNetPatchTest\F\OutPutFile" />
		
		
	</appSettings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="CustomBinding_IReleaseData" maxReceivedMessageSize="655360">
					<security mode="Transport">
						<transport clientCredentialType="Ntlm" />
					</security>
				</binding>
				<binding name="CustomBinding_IConfiguration">
					<security mode="Transport">
						<transport clientCredentialType="Ntlm" />
					</security>
				</binding>
				<binding name="CustomBinding_IReleaseManTask">
					<security mode="Transport">
						<transport clientCredentialType="Ntlm" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://ddse.redmond.corp.microsoft.com/ReleaseManService/ReleaseManService.svc" binding="wsHttpBinding" bindingConfiguration="CustomBinding_IReleaseData" contract="RMService.IReleaseData" name="CustomBinding_IReleaseData">
				<identity>
					<userPrincipalName value="vsulab@redmond.corp.microsoft.com" />
				</identity>
			</endpoint>
			<endpoint address="https://ddse.redmond.corp.microsoft.com/ReleaseManService/ReleaseManService.svc" binding="wsHttpBinding" bindingConfiguration="CustomBinding_IConfiguration" contract="RMService.IConfiguration" name="CustomBinding_IConfiguration">
				<identity>
					<userPrincipalName value="vsulab@redmond.corp.microsoft.com" />
				</identity>
			</endpoint>
			<endpoint address="https://ddse.redmond.corp.microsoft.com/ReleaseManService/ReleaseManService.svc" binding="wsHttpBinding" bindingConfiguration="CustomBinding_IReleaseManTask" contract="RMService.IReleaseManTask" name="CustomBinding_IReleaseManTask">
				<identity>
					<userPrincipalName value="vsulab@redmond.corp.microsoft.com" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.22.0.997" newVersion="2.22.0.997" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.TeamFoundation.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.TeamFoundation.WorkItemTracking.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.TeamFoundation.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.Services.WebApi" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.Services.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Identity.Client.Extensions.Msal" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.61.3.0" newVersion="4.61.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.36.0.0" newVersion="1.36.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.72.1.0" newVersion="4.72.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Identity" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.11.4.0" newVersion="1.11.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
